<%= form_with(model: [:admin, @setor], url: admin_setors_path, method: :post) do |form| %>
  <% if @setor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@setor.errors.count, "error") %> Não foi possível salvar esse Setor:</h2>
      <ul>
        <% @setor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :secretaria_id, style: "display: block" %>
    <%= form.collection_select :secretaria_id, Secretaria.all, :id, :nome, prompt: "Selecione uma Secretaria" %>
  </div>

  <div class="field">
    <%= form.label :unidade_id, style: "display: block" %>
    <%= form.collection_select :unidade_id, Unidade.all, :id, :nome, prompt: "Selecione uma unidade" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>