<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Bem-vindo</h1>
    <p class="lead">Sistema de Controle de Entrada de Visitantes</p>
    <hr class="my-4">

    <p>Clique nos links abaixo para acessar outras páginas:</p>

    <div>
      <%= link_to "Secretarias", admin_secretarias_path, class: "btn btn-primary mr-2" %>
    </div>

    <div>
      <%= link_to "Unidades", admin_unidades_path, class: "btn btn-primary" %>
    </div>

    <div>
      <%= link_to "Setores", admin_setors_path, class: "btn btn-primary" %>
    </div>

    <div>
      <%= link_to "Funcionários", admin_funcionarios_path, class: "btn btn-primary" %>
    </div>

    <% if usuario_signed_in? %>
      <div>
        <%= button_to "Sign Out", destroy_usuario_session_path, method: :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>