<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= funcionario.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= funcionario.rg %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= funcionario.telefone %>
  </p>

  <p>
    <strong>Secretaria:</strong>
    <%= funcionario.setor.nome%>
  </p>

  <p>
    <strong>Unidade:</strong>
    <%= funcionario.unidade.nome%>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= funcionario.setor.nome%>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= funcionario.cargo.nome%>
  </p>

</div>
