<p style="color: green"><%= notice %></p>

<h1>Funcion치rios</h1>

<div id="funcionarios">
  <% @funcionarios.each do |funcionario| %>
    <%= render funcionario %>
    <p>
      <%= link_to "Visualizar Funcion치rio", admin_funcionario_path(funcionario) %>
    </p>
  <% end %>
</div>

<%= link_to "Criar novo Funcion치rio", new_admin_funcionario_path %>
<br>
<br>
<%= link_to "Voltar para p치gina Inicial", admin_path %>